@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  background-image: url("./assets/images/pexels-pegah-sharifi-7756765.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
